@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
				padding: 0;
				margin: 0;
				box-sizing: border-box;
}

body {
				font-family: 'Inter', sans-serif;
}

a {
				color: white;
				text-decoration: none;
}	
			


/*  --------- Navbar Styling ---------  */

.header {
				
}

.dev p {
				float: left;
				position: fixed;
				background: #6b2bff;
				color: white;
				padding: 5px 10px 5px 10px;
				border-radius: 0 50px 50px 0;
				border:solid 3px white;
				top: 90vh;
				left: 0;
}

.about-header {
				background: #6b2bff;
				width: 100vw;
				height: 60px;
				position: relative;
}

.contact-header {
				background: #6b2bff;
				width: 100vw;
				height: 60px;
				position: relative;
}

.faq-header {
				background: #6b2bff;
				width: 100vw;
				height: 60px;
				position: relative;
}

.services-header {
				background: #6b2bff;
				width: 100vw;
				height: 60px;
				position: relative;
}

.privacy-header {
				background: #6b2bff;
				width: 100vw;
				height: 60px;
				position: relative;
}

.header .background-image {
				width: 100vw;
				height: 75vh;
				position: relative;
}

.header .background-image-about {
				width: 100vw;
				height: 60px;
				position: sticky;
}

.header .navbar {
				display: flex;
				top: 0;
				justify-content: space-between;
				align-items: center;
				padding: 30px 44px;
				width: 100vw;
				background: transparent;
				position: absolute;
}

.header .navbar-about {
				margin: 0;
				padding: 15px;
}

.header nav .logo {
			font-size: 33px;
			font-weight: 600;
}


.header nav .logo .logo-p {
				font-weight: 600;
				
}



.header nav .logo logo-a {
			
}


.header nav .list {
				
}

.header .navbar .list .mainMenu {
				display: flex;
				list-style: none;
				
}

.header .navbar .list ul .li-a {
				padding: 0 14px;
				text-transform: uppercase;
				color: white;
				font-weight: 500;
				font-size: 14px;
}

.header .header-content {
				position: absolute;
				top: 40%;
				left: 50%;
				color: white;
				transform: translate(-50%,-50%);
				text-align: center;
}

.header .header-content span {
				font-size: 30px;
				font-weight: 800;
}

.header .header-content a {
				display: block;
				border: solid 1px white;
				font-size: 27px;
				padding: 6px 11px 6px 11px;
				background: transparent;
				width: 150px;
				margin: 1.4rem auto;
}


.header .header-content a:hover {
				border: solid 1px white;
				transition: 2s;
				margin: 1.4rem auto;
				padding: 6px 11px 6px 11px;
				background: #ffffff;
			
				color: black;
}

.closeMenu {
			color: white;
			display: none;
			
}

.openMenu {
   font-size: 2rem;
  	display: none;
	 cursor: pointer;
  	color: white;
 	 
}

.list .closeMenu {
   font-size: 2rem;
}

.header .headerabout {
				height: 12vh;
				width: 100vw;
				
}



/*  --------- Letest blog ---------  */

.letest-blog {
     padding: 0 0 1.5rem 0;
     
     background: ;
}

.letest-blog h2 {
			 text-align: center;
			 margin: 50px auto;
			 font-size: 40px;
			 border-bottom: 1px solid black;
			 width: 110px;
			 text-align: center;
}

.letest-blog .letest-blog-line {
				
}

.letest-blog .letest-blog-line .load-more {
				color: black;
				text-align: center;
				margin: 3.4rem;
}

.letest-blog .letest-blog-line .load-more a {
				color: black;
				
				border: solid 1px black;
				padding: 6px 12px;
}


.letest-blog .letest-blog-line .letest-blog-box {
				display: flex;
				justify-content: space-around;
				margin: 2rem 0 1rem 0;
}



.letest-blog .letest-blog-line .letest-blog-box .box1 {
				
}

.letest-blog .letest-blog-line .letest-blog-box .box1 img {
				height: 240px;
				width: 430px;
			
				
				
}

.letest-blog .letest-blog-line .letest-blog-box .box1 h3 {
				font-size: 23px;
				font-weight: 600;
				width: 430px;
				padding: 10px 0 0 0;
				
}

.letest-blog .letest-blog-line .letest-blog-box .box1 p {
				width: 430px;
				padding: 8px 0 0 0;
}

.letest-blog .letest-blog-line .letest-blog-box .box1 span {
				padding: 8px 0 0 0
				font-weight: 800;
				display: inline-block;
}

.letest-blog .letest-blog-line .letest-blog-box .box1 h3 a {
     color: #6b2bff;
     font-weight: 400;
     
}


/*  --------- Footer page ---------  */

.footer {
				background: #f0f0f0;
			 margin-top: 2.5rem;
}

.footer .social-media {
				padding: 2rem;
				
}

.footer .social-media .media-box {
				padding-bottom: 0.6rem;
				text-align: center;
				
}

.footer .social-media .media-box i {
				padding: 0 4px 0 4px;
				
				font-size: 35px;
				color: black;
}

.footer .social-media .copyright {
				text-align: center;
				font-size: 20px;
				font-weight: 600;
				color: #707070;
}


/*  -------- About Us  ----------  */

.about-title {
				
}

.original-title {
				font-size: 30px;
				text-align: center;
				display: block;
				border-bottom: 2px solid #6b2bff;
				margin: 1rem;
}

.about-box {
				display: flex;
				border: solid 1px black;
				margin: 2rem;
				border-radius: 10px;
				background: #f6f6f6;
}

.about-box img {
				width: 300px;
				height: 200px;
				padding: 1rem;
				
}

.about-box p {
				padding: 1rem 1rem 1rem 0;
}




/*  --------- CONTACT US -----------  */

.contact-box {
				margin: 1rem;
				padding: 2rem;
		  	
}

.contact-box i{
   padding: 10px;
   font-size: 25px;
				
}

.contact-box h2 {
				display: inline;
				font-size: 30px;
}

.contact-box p {
				padding: 0 10px;
				
}

.email-contact {
				padding-bottom: 1.5rem;
			
				
}

.phone-contact {
				padding-bottom: 1.5rem;
				
				
}

.googleform-contact {
				padding-bottom: 1.5rem;
				
				
}

.location iframe {
				width: 100%;
				height: 500px;
}



/*  --------- FAQ -----------  */


.collepse {
				margin: 3rem 8rem;
}


.collapsible {
  cursor: pointer;
  background: transparent;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  text-align: left;
  outline: none;
  padding: 1.6rem;
  border-radius: 6px;
  font-size: 18px;
  border: solid 1px #6b2bff;
}


.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;  
  float: right;
  margin: 0 1ree;
}

.arrow:hover {
				transform: rotateZ(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.active, .collapsible:hover {
  
}

.content {
  display: none;
  padding: 0 1rem 1rem 1.5rem;
  overflow: hidden;
  background-color: transparent;
}

.content {
  background-color: white;
  max-height: 0;
  transition: max-height 0.8s ease-out;
}

.faq-title {
				font-size: 34px;
}



/*  ---------- Services ------------  */

.services1 {
				
				text-align: center;
}

.original-services {
				display: flex;
				justify-content: space-around;
				margin: 3rem;
}

.original-services i {
				padding: 10px;
				font-size: 70px;
}

.original-services span {
				font-size: 2rem;
}


/*  ----------- Privacy ------------  */

.main-privacy {
				margin: 2rem 1rem;
}

.privacy-box {
				padding-bottom: 1rem;
}



/*  --------  Post Page  --------  */

.post-page {
				margin: 2rem;
}

.post-page h2 {
				font-size: 50px;
}

.post-page img {
				width: 90%;
				padding: 1rem 0;
}

.post-page span {
				padding: 1rem 0;
				font-weight: 800;
				font-size: 16px;
}

.post-page p {
				font-size: 20px;
}


/*  -------- Media Queries --------  */


@media(max-width: 1024px){
				
				.letest-blog .letest-blog-line .letest-blog-box .box1 img {
				height: 200px;
				width: 45vw;
				transition: 2s;
     }
     
     .letest-blog .letest-blog-line .letest-blog-box .box1 h3 {
				font-size: 23px;
				font-weight: 600;
				width: 45vw;
				padding: 10px 0 0 0;
				transition: 2s;
     }
				
				.letest-blog .letest-blog-line .letest-blog-box .box1 p {
				width: 45vw;
				padding: 8px 0 0 0;
				transition: 2s;
     }
     
     .letest-blog .letest-blog-line .letest-blog-box .box1 span {
				padding: 8px 0 0 0;
				font-weight: 800;
				display: inline-block;
				width: 45vw;
				transition: 2s;
     }
     
     
}





@media(max-width: 600px){
				
				.letest-blog .letest-blog-line .letest-blog-box {
								display: flex;
								flex-direction: column;
						   align-items: center;
						   
				}
				
				.box1 {
								padding-bottom: 1.8rem;
								
				}
				
				.about-box {
								display: flex;
								flex-direction: column;
				}
				
				.about-box img {
								width: 100%;
				}
				
				.about-box p {
								padding: 0 1rem 1rem 1rem;
				}
				
				.li-a:hover {
								border: 1px solid #6b2bff;
								background: white;
								
				}
				
				.letest-blog .letest-blog-line .letest-blog-box .box1 img {
				height: 190px;
				width: 85vw;
				transition: 2s;
     }
     
     .letest-blog .letest-blog-line .letest-blog-box .box1 h3 {
				font-size: 23px;
				font-weight: 600;
				width: 85vw;
				padding: 10px 0 0 0;
				transition: 2s;
     }
				
				.letest-blog .letest-blog-line .letest-blog-box .box1 p {
				width: 85vw;
				padding: 8px 0 0 0;
				transition: 2s;
     }
     
     .letest-blog .letest-blog-line .letest-blog-box .box1 span {
				padding: 8px 0 0 0;
				font-weight: 800;
				display: inline-block;
				width: 85vw;
				transition: 2s;
     }
     
      .mainMenu {
     				height: 100vh;
		       	position: fixed;
			      top: 0;
			      width: 40vw;
	        	right: -60%;
	        	border-radius: 20px 0px 0px 20px;
		       	
		       	z-index: 10;
	       		flex-direction: column;
	        	justify-content: center;
	        	align-items: center;
		       	background:#f4f4f4;
	       		transition: top 3s ease;
	        	
     }
     
     .mainMenu li a {
     				color: black;
     }
     
     .header nav .list .mainMenu {
     				padding: 10px 0;
     }
     
     
     .header .navbar .list .mainMenu .li-a {
     				padding: 6px 15px;
     				margin: 8px 0;
     }
    
     
     .closeMenu {
	   	display: block;
			position: absolute;
			top: 20px;
			right: 24px;
			color: black;
		
}

.closeMenu-about {
				top: 8px;
			right: 10px;
			padding: 5px;
}

.openMenu {
		  display: inline-block;
		  position: absolute;
		  top: 20px;
		  right: 20px;
		  
				    
	}
	
	
	
	.logo {
					position: absolute;
					top: 20px;
					left: 20px;
	}
	
	.logo-about {
	     position: absolute;
					padding: 5px;
					top: 8px;
					left: 8px;
	}
	
	.header img {
					height: 75vh;
	}
	
	.header .header-content span {
				font-size: 30px;
				font-weight: 600;
				
}

.openMenu-about {
		  top: 8px;
		  right: 8px;
		  padding: 5px;
}

.header .header-content a {
				
				border: solid 1px white;
				font-size: 16px;
				padding: 3px 7px 3px 7px;
				background: transparent;
				width: 80px;
				margin: 0.6rem auto;
				
}

.header .header-content a:hover {
				border: solid 1px white;
				transition: 2s;
				margin: .6rem auto;
				padding: 3px 7px 3px 7px;
				background: #ffffff;
			
				color: black;
}

.header .header-content {
				position: absolute;
				top: 40%;
				left: 50%;
				color: white;
				transform: translate(-50%,-50%);
				text-align: center;
}

.collepse {
				margin: 1.6rem 2rem;
}

.collapsible {
				width: 100%;
}

.original-services  {
				display: flex;
				flex-direction: column;
}

.services1 {
				padding-bottom: 3rem;
}

.post-page h2 {
				font-size: 30px;
}

	
}
